.page-header {
  margin-bottom: 50px;
}

//
.activity_chart_container {
  position: relative;
}

#activity_chart_div {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
}

ul.subreddits-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}